<.card title_text="Welcome to __APP_NAME__">
  <.paragraph>
    Your Phoenix LiveView app is running with
    <.pa_link href="https://pureadmin.io" target="_blank">PureAdmin</.pa_link> components.
  </.paragraph>
  <.paragraph>
    Edit <code>lib/__APP_ID_SNAKE___web/controllers/page_html/home.html.heex</code> to change this page,
    or add new LiveViews to <code>lib/__APP_ID_SNAKE___web/live/</code> and wire them in <code>router.ex</code>.
  </.paragraph>
  <.grid>
    <.column size="100" md="1-3">
      <.button href="https://pureadmin.io" target="_blank" variant="primary" is_block>
        __ICON:palette__ {gettext("Themes")}
      </.button>
    </.column>
    <.column size="100" md="1-3">
      <.button href="https://icons.pureadmin.io" target="_blank" variant="secondary" is_block>
        __ICON:icons__ {gettext("Icons")}
      </.button>
    </.column>
    <.column size="100" md="1-3">
      <.button href="https://hexdocs.pm/keen_pure_admin" target="_blank" variant="secondary" is_block>
        __ICON:book__ {gettext("Docs")}
      </.button>
    </.column>
  </.grid>
</.card>

__PROJECT_INFO__
