<.card title_text="Welcome to __APP_NAME__">
  <.paragraph>
    Your Phoenix LiveView app is running with PureAdmin components.
  </.paragraph>
  <.paragraph>
    Edit <code>lib/__APP_ID___web/controllers/page_html/home.html.heex</code> to change this page,
    or add new LiveViews to <code>lib/__APP_ID___web/live/</code> and wire them in <code>router.ex</code>.
  </.paragraph>
  <.button variant="primary">Get Started</.button>
</.card>
