<.layout>
  <.navbar>
    <:start>
      <.navbar_burger />
      <.navbar_brand />
    </:start>
    <:center>
      <.navbar_title>
        <h2>{assigns[:page_title] || "Home"}</h2>
      </.navbar_title>
    </:center>
    <%!-- data-pa="profile-panel-component" --%>
    <:end_>
      <.navbar_profile_btn name="User" phx-click={toggle_profile_panel()} />
    </:end_>
    <%!-- /data-pa="profile-panel-component" --%>
  </.navbar>

  <.layout_inner>
    <.sidebar>
      <%!-- data-pa="sidebar-items" --%>
      <.sidebar_item label={gettext("Getting Started")} icon="__ICON_GETTING_STARTED__" href="/getting-started" is_active={assigns[:current_path] == "/getting-started"} />
      <.sidebar_item label={gettext("Dashboard")} icon="__ICON_DASHBOARD__" href="/" is_active={assigns[:current_path] == "/"} />
      <%!-- data-pa="demo-pages-sidebar" --%>
      <.sidebar_submenu label={gettext("Management")} icon="__ICON_BRIEFCASE__" is_open={assigns[:current_path] in ["/users", "/settings"]}>
        <.sidebar_item label={gettext("Users")} icon="__ICON_USERS__" href="/users" is_active={assigns[:current_path] == "/users"} />
        <.sidebar_item label={gettext("Settings")} icon="__ICON_SETTINGS__" href="/settings" is_active={assigns[:current_path] == "/settings"} />
      </.sidebar_submenu>
      <%!-- /data-pa="demo-pages-sidebar" --%>
      <%!-- data-pa="form-demo-sidebar" --%>
      <.sidebar_item label={gettext("Form Demo")} icon="__ICON_FORM_DEMO__" href="/form-demo" is_active={assigns[:current_path] == "/form-demo"} />
      <%!-- /data-pa="form-demo-sidebar" --%>
      <%!-- /data-pa="sidebar-items" --%>
    </.sidebar>

    <.layout_content>
      <.main>
        <.flash_group flash={@flash} />
        {@inner_content}
      </.main>
      <%!-- data-pa="footer-component" --%>
      <.footer />
      <%!-- /data-pa="footer-component" --%>
    </.layout_content>
  </.layout_inner>
</.layout>

<%!-- data-pa="settings-panel-component" --%>
<.settings_panel default_theme="__DEFAULT_THEME__" />
<%!-- /data-pa="settings-panel-component" --%>

<%!-- data-pa="profile-panel-component" --%>
<.profile_panel id="profile-panel" name="User" email="user@example.com" role="User">
  <:nav>
__PROFILE_ITEMS__
  </:nav>

  <:footer_>
    <.button variant="danger" is_block>
      __ICON:right-from-bracket__ {gettext("Sign Out")}
    </.button>
  </:footer_>
</.profile_panel>
<%!-- /data-pa="profile-panel-component" --%>

<.toast_container id="toasts" position="top-end" is_hook />
