<!DOCTYPE html>
<html lang="en" {PureAdmin.Config.root_html_attrs()}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="__APP_NAME__" suffix=" · PureAdmin">
      {assigns[:page_title]}
    </.live_title>
    <%!-- Pure Admin theme (includes core CSS) --%>
    <link rel="stylesheet" href="/themes/__DEFAULT_THEME__/css/__DEFAULT_THEME__.css" />
    __ICON_CDN__
    <%!-- data-pa="floating-ui-cdn" --%>
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.9"></script>
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.13"></script>
    <%!-- /data-pa="floating-ui-cdn" --%>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body>
    <.page_context />
    <.fouc_prevention_script default_mode="__DEFAULT_MODE__" />
    {@inner_content}
  </body>
</html>
